.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border-radius: 38px 38px 38px 38px;
  -moz-border-radius: 38px 38px 38px 38px;
  -webkit-border-radius: 38px 38px 38px 38px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  -webkit-box-shadow: inset 10px 10px 66px -27px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 66px -27px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 66px -27px rgba(0,0,0,0.75);
}

.cardBody {
  margin: 5px;
  text-align: center;
}

.cardImg {
  width: 250px;
}

.cardDetail  {
  font-weight: bold;
  text-align: center;
  margin-right: 20px;
}